<h2>Seu carrinho</h2>
<table>
  <%= render carrinho.linha_items %>

  <tr class="total_linha">
    <td colspan="2">Total</td>
    <td class="total_celula"><%= number_to_currency_br(carrinho.preco_total) %></td>
  </tr>

</table>

<%= button_to 'Esvazie o carrinho', carrinho, method: :delete,
      data: { coonfirm: 'Tem certeza ?'} %>
