<div id="banner" class="banner">

	<div id="banner_img">
    <ul>
   	  <li class="1"><%= image_tag("1.jpg", size: "920x300") %></li>
      <li class="2"><%= image_tag("2.jpg", size: "920x300") %></li>
      <li class="3"><%= image_tag("3.jpg", size: "920x300") %></li>
      <li class="4"><%= image_tag("4.jpg", size: "920x300") %></li>
    </ul>
  </div>

	<div id="botoes">
		<button data="1"></button>
		<button data="2"></button>
		<button data="3"></button>
		<button data="4"></button>
	</div>

</div>

<h1>PRODUTOS E OFERTAS</h1>
