<h3>Pedido da FG Games despachado</h3>
<p>
  Este e-mail é só para te informar que nós despachamos seu recente pedido:
</p>
<table>
  <tr><th colspan="2">Qty</th><th>Descrição</th></tr>
<%= render @pedido.linha_items %>
</table>  
