/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: black;
  font-family: helvetica;
  margin: 0px;
  border: 0px;
  margin: 0px;
}

#linha1 {
  border: none;
  width: 920px;
  height: 70px;
  margin-left: 190px;
  margin-top: 0px;
  padding: 0;
}

#linha2 {
  border: 0px;
  width: 840px;
  height: 40px;
  margin: 10px 0px 0px 190px;
  padding: 2px;
}

#linha1 img {
  border: none;
  margin: 0;
  overflow: visible;
  float: right;
  border: 4px outset goldenrod;
}

#linha1 img[alt="Fifa18"] {
  float: left;
  border: none;
}

#linha1 ul {
  text-align: center;
  padding-top: 20px;
  float: left;
  width: 510px;

  li {
    display: inline;
    margin: 20px;
    font-size: 20px;
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: gold;
  }
}

#linha2 ul {
    width: 120px;
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: goldenrod;
    border-bottom: 1px solid goldenrod;

    li {
      float: right;
      border-right:1px solid black;
      padding: 0;
      margin: 0;
      width: 59px;
      height: 40px;

      img {align-self: auto;}
    }

    a {
      display: block;
      color: black;
      text-align: center;
      vertical-align: middle;
      padding: 0;
      margin: 0;
      text-decoration: none;
      height: 40px;
      width: 59px;
    }
}

#linha2 a:hover {
  background-color: goldenrod;
}

#linha2 form {
  float: left;
  width: 610px;
  height: 40px;
}

#linha2 input[type="text"] {
  position: relative;
  width: 500px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: 1px solid goldenrod;
  background-color: black;
  color: white;
  font-size: 15px;
}

#linha2 input[type="submit"] {
  position: absolute;
  font-family: Helvetica;
  font-size: 20px;
  width: 80px;
  height: 42px;
  margin: 0px;
  padding: 0;
  color: black;
  background: goldenrod;
  border: 1px solid goldenrod;
}

#linha3 {

  ul {
    list-style-type: none;
    margin: 10px 302px 10px 192px;
    padding: 0;
    width: 606px;
    overflow: hidden;
    background-color: goldenrod;

    li {
      float: left;
      border-right: 1px solid black;

      a, .dropbtn {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
      }
    }
  }
}

#linha3 li a:hover, .dropdown:hover .dropbtn {background-color: silver;}

#linha3 li.dropdown {display: inline-block;}

#linha3 .dropdown-content {
    display: none;
    position: absolute;
    background-color: silver;
    min-width: 160px;
    z-index: 1;

    h4 {
      margin: 10px;
    }
}

#linha3 .dropdown-content a {
    color: black;
    padding: 0;
    margin: 0 0 0 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 10px;
}

#linha3 .dropdown-content a:hover {background-color: silver;}

#linha3 .dropdown:hover .dropdown-content {display: block;}

#menu-down {
    border: 1px solid white;
    background: goldenrod;
    position: relative;
    height: 300px;
    width: 940px;
    margin: 10px 0px 0px 180px;

    img {
      border: 3px outset goldenrod;
      float: left;
    }

    #d1 {
      position: absolute;
      left: 180px;

      dt {
        font-size: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid black;

        dd {
          margin-left: 0px;
          display: block;
        }
      }
    }
    #d2 {
      position: absolute;
      left: 420px;

      dt {
        font-size: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid black;
      }
    }
    #d3 {
      position: absolute;
      left: 700px;

      dt {
        font-size: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid black;
      }
    }
    p {
      clear: both;
    }

}
