// Place all the styles related to the Loja controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loja {
	#banner {
		position: relative;
		width: 77.0em;
		height: 28.0em;
		margin: 0.5em 0em 0em 21.5em;

		#banner_img {
			position: absolute;

			ul {
				display: inline;

				li {
					float: left;
					position: absolute;
					overflow: auto;
				}
			}
		}

		#botoes {
			position: absolute;
			left: 24.0em;
			overflow: auto;
			clear: left;
			top: 25.0em;

			button {
				width: 7.5em;
				height: 1em;
				overflow: auto;
				background: goldenrod;
				border: none;
			}

			button[data="1"] {
				background: silver;
			}
		}
	}

	h1 {
		display: inline-block;
		width: 39.0em;
		margin-left: 10.7em;
		padding: 0.2em 0em 0.4em 0em;
		border-bottom: 0.2em solid goldenrod;
		font-family: helvetica;
		font-style: normal;
		font-weight: lighter;
		text-align: center;
		color: goldenrod;
	}

	#index {
		background: black;
		left: 21.5em;
		position: relative;
		width: 78.0em;
		height: 150.0em;
		margin-bottom: 0.5em;
		
		.entry {
			display: inline-block;
			width: 19.1em;
			height: 25.0em;
			margin: 0.1em;
			border-radius: 10px;
			background: white;
			position: relative;
			float: left;
			text-align: center;

			img {
				margin-top: 0.2em;
			}
			
			h3 {
				height: 2.0em;
				
				a {
					text-decoration: none;
				}
				
				a:hover {
					background: white;
					color: goldenrod;
				}
				
				a:visited {
					color: black;
				}
			}
		}
	}
}	
