// Place all the styles related to the Loja controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner {
	position: relative;
	width: 920px;
	height: 350px;
	left: 190px;

	#banner_img {
		position: absolute;

		ul {
			display: inline;

			li {
				float: left;
				position: absolute;
				overflow: auto;
			}
		}
	}

	#botoes {
		position: absolute;
		left: 240px;
		overflow: auto;
		clear: left;
		top: 320px;

		button {
			width: 100px;
			overflow: auto;
			background: gold;
		}

		button[data="1"] {
			background: silver;
		}
	}
}

h1 {
	margin-left: 180px;
	margin-right: 150px;
	padding: 10px 0px 10px 330px;
	border-bottom: 1px solid goldenrod;
	font-family: helvetica;
	font-style: normal;
	font-weight: lighter;
	color: goldenrod;
}
