// Place all the styles related to the Produtos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.produtos {
  background: black;

  #modelo {
    position: relative;
    background: white;
    width: 77.0em;
    height: 65.0em;
    left: 21.5em;
    top: 2.0em;
    margin-bottom: 4.0em;


    #img {
      position: relative;
      display: block;
      height: 35.0em;
      width: 77.0em;

      img {
        float: left;
        margin: 2.0em;

      }

      h1, h3, h4, form {
        position: relative;
        display: block;
        height: 2.0em;
      }

      h1 {
        text-align: left;
        width: 25.0em;
        height: 2.0em;
        margin: 0em 15.0em 0em 13.0em;
        top: 2.0em;
        font-size: 2.5em;
        line-height: 1.0;
        font-weight: bold;
        font-size-adjust: 0.58;
        padding-bottom: 0.5em;
      }

      h3 {
        text-align: left;
        border-top: 0.2em solid goldenrod;
        margin-left: 16.3em;
        padding-top: 0.5em;
        width: 14.0em;
        top: 1.0em;
        font-size: 2.0em;
        font-weight: lighter;
      }

      h4 {
        margin-left: 27.5em;
        display: inline;
        width: 58.5em;
        color: gray;
      }

      select {
        display: inline;
      }

      form {
        margin-top: 0.4em;
        width: 71.0em;
        height: 5.0em;
        margin-left: 50.0em;

        input {
          width: 10.5em;
          height: 3.0em;
          background: goldenrod;
          font-size: 1.8em;
          border-radius: 18px;
        }
      }
    }

    #desc {
      position: relative;
      width: 77.0em;
      height: 30.0em;

      span {
        cursor: pointer;
        display: inline-block;
        background: goldenrod;
        color: gold;
        border-radius: 0.8em 0.8em 0 0;
        font-size: 1.5em;
        width: 6.0em;
        height: 1.0em;
        padding: 1.0em;
        text-align: center;
      }

      span:first-child {
        margin-left: 1.0em;
      }

      hr {
        border-color: goldenrod;
        display: block;
        margin-top: 0em;
        margin-bottom: 0.5em;
        margin-left: 1.0em;
        margin-right: 1.0em;
        border-style: inset;
        border-width: 0.2em;
      }

      p {
        color: black;
        padding: 1.2em 1.6em;
        display: block;
        text-align: justify;
        margin-top: 0.5em;
        line-height: 1.8;
      }

      iframe {
        margin: 0.5em;
        padding: 1.2em;
        display: block;
      }
    }
  }
}


@media only screen and (max-width: 1500px) {
  body {
    margin: 0em !important;
    padding: 0;
    background: black;
  }

  .produtos {
    
    #modelo {
      left: 15.5em;
    }
  } 
}
@media only screen and (max-width: 1200px) {
  body {
    margin: 0em !important;
    padding: 0;
    background: black;
  }
  
  .produtos {
    
    #modelo {
      left: 6.5em;
    }
  }
}

